@import url(https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.min-h-screen1 {
  min-height: 99.5vh;
}


.container-landing {
  width: 828px;
  height: 268px;
}
@media screen and (max-width: 768px) {
  .container-landing {
    width: 240px;
    height: 168px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container-landing {
    width: 500px;
    height: 200px;
  }
}





@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Regular.otf') format('opentype'),
       url('/fonts/NeueMontreal-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}