@import url(https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;


.min-h-screen1 {
  min-height: 99.5vh;
}

.container-landing {
  width: 828px;
  height: 268px;
}




@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Regular.otf') format('opentype'),
       url('/fonts/NeueMontreal-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}